/*Contact sectiom*/
.content-header{
    font-family: 'Oleo Script', cursive;
    color:#fcc500;
    font-size: 45px;
  }
  
  .section-content{
    text-align: center; 
  
  }
  #contact{
      
      font-family: 'Teko', sans-serif;
    padding-top: 60px;
    width: 100%;
    width: 100vw;
    height: 550px;
    background: #3a6186; /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #3a6186 , #89253e); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #3a6186 , #89253e); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
      color : #fff;    
  }
  .contact-section{
    padding-top: 40px;
  }
  .contact-section .col-md-6{
    width: 50%;
  }
  
  .form-line{
    border-right: 1px solid #B29999;
  }
  
  .form-group{
    margin-top: 10px;
  }
  label{
    font-size: 1.3em;
    line-height: 1em;
    font-weight: normal;
  }
  .form-control{
    font-size: 1.3em;
    color: #080808;
  }
  textarea.form-control {
      height: 135px;
     /* margin-top: px;*/
  }
  
  .submit{
    font-size: 1.1em;
    float: right;
    width: 150px;
    background-color: transparent;
    color: #fff;
  
  }
  .context-dark, .bg-gray-dark, .bg-primary {
    color: rgba(255, 255, 255, 0.8);
}

.footer-classic a, .footer-classic a:focus, .footer-classic a:active {
    color: #ffffff;
}
.nav-list li {
    padding-top: 5px;
    padding-bottom: 5px;
}

.nav-list li a:hover:before {
    margin-left: 0;
    opacity: 1;
    visibility: visible;
}

ul, ol {
    list-style: none;
    padding: 0;
    margin: 0;
}

.social-inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 23px;
    font: 900 13px/1 "Lato", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.5);
}
.social-container .col {
    border: 1px solid rgba(255, 255, 255, 0.1);
}
.nav-list li a:before {
    content: "\f14f";
    font: 400 21px/1 "Material Design Icons";
    color: #4d6de6;
    display: inline-block;
    vertical-align: baseline;
    margin-left: -28px;
    margin-right: 7px;
    opacity: 0;
    visibility: hidden;
    transition: .22s ease;
}