body{
    margin:0 auto;
    background-color: #fff;
    font-family: Arial, Helvetica, sans-serif;   
}
html *{
    box-sizing: border-box;
}
header{
       background-color:#fff;
       min-height:50px;
       padding: 0px 15px;
       border-bottom:1px solid #cccccc;
}
nav input[type="radio"]{
display: none;
}
nav label{
padding: 12px 20px;
height: 50px;
line-height: 50px;
color:#424242;
}

label{
  color:#424242;
}
nav span{
  color:#666666;
}
input[type="radio"]:checked + label{
border-bottom: 4px solid #eb2597;
font-weight: bold;
}

section{
  background-color: #f7f7f7;
  width:1146px;
  height: 551px;

  padding:24px 51px;
}

.container{

  width: 1054px;
}
.filter{
    width:257px;
  margin: 0px 12px;
}

fieldset{
  padding:15px;
  border:none;
  box-shadow: 0px 0px 5px 1px #888888;
}

fieldset h4{
  margin-bottom: 0px;
  border-top: 1px solid #d9d9d9;
  padding-top: 21px;
}

fieldset ul{
  list-style-type:none;
  padding: 0px;
  margin-top: 0px;
}

fieldset ul li{
  padding: 5px;
}
 #search{
  width: 217px;
  padding: 10px;
  border: 1px solid #e5e5e5;
  border-radius: 5px;
  outline: none;
 }



 .slider{
   width:217px;
   padding: 20px 0px;

 }

 input.travel{
   width:17px;
   height:17px;
   
 }
.result{
  width: 766px;;
}

.outer, .inner{
  float: left;
display: inline-block;
}

.left, .right{
  width:355px;
  height: 500px;
  margin: 0px 12px;
  box-shadow: 0px 0px 5px 1px #888888;

}

.image{
  position: relative;
  text-align: center;
  color: white;
}

.top-left{
  position: absolute;
  top: 16px;
  left: 16px;
  height: 24px;
  padding: 6px;
  background-color: rgba(255, 255, 255, 0.4);
  color: black;
  font-size: 11px;
}
.top-left:hover{
  cursor: pointer;
}
.bottom-right{
  position: absolute;
  bottom: 16px;
  right: 16px;
  opacity: 0.6;
}

 .bottom-right:hover{
opacity: 1;
cursor: pointer;
}

.bottom-right:focus{
  background-image: url("https://i.postimg.cc/657ppG94/red-heart.png");
  width: 40px;
  height: 40px;
}

.info{
  text-align: center;
}
.topic{
  height:80px;
}

h3, h4{
  color:#9b6e00;
}
.details-footer{
  background-color: #eae7df;
  padding:5px;
  align-content: center;
  height:146px;
}

ul.date, ul.tag {
list-style-type:none;
padding: 0px;

}

.date li, .tag li{
  display: inline;
  font-size: 13px;
  padding:0px 5px;
}

.date li{
  color: #9b6e00;
  font-weight: bold;
}

.tag li{
  color:#a1723b;
  padding:3px;
  border:1px solid #c9af8a;
  border-radius: 10px;
}

.details{
  text-decoration: none;
  background-color: #eb2597;
  color: #fff;
  padding: 10px 110px;
  border: none;
  border-radius: 20px;
  font-weight: bold;
  margin: 15px;
  display: block;

}

#cut-one{
  content: "";
  position: absolute;
  left: 72px;
  top: 16px;
  width: 0px;
  height: 8px;
  border-right: 12px solid transparent;
  border-top: 12px solid rgba(255, 255, 255, 0.4);
  border-bottom: 12px solid rgba(255, 255, 255, 0.4);
}

#cut-two{
  content: "";
  position: absolute;
  left: 68px;
  top: 16px;
  width: 0px;
  height: 8px;
  border-right: 12px solid transparent;
  border-top: 12px solid rgba(255, 255, 255, 0.4);
  border-bottom: 12px solid rgba(255, 255, 255, 0.4);
}

.slide {
  position: absolute;
}

input[type=range]{
  -webkit-appearance: none;
  background: none;
}

input[type=range]::-webkit-slider-runnable-track {
  height: 5px;
  background: #ddd;
  border: none;
  border-radius: 3px;
}



input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: none;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background: #e0983d;
  margin-top: -5px;
  position: relative;
}

input[type=range]:focus {
  outline: none;
  &::-webkit-slider-thumb:after {
    position: absolute;
    top: -35px;
    left: 50%;
    background: #e0983d;
    border-radius: 5px;
    padding: 5px 10px;
    border: 2px solid #555;
  }
}

input[type=range]:focus::-webkit-slider-runnable-track {
  background: #e0983d;
}

